@charset "utf-8";
/* CSS Document */

body,td,th,p,time{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	color: #333;
	line-height: 1.5;
}
time {
  display: block;
}
body {
	background-color: #f3f3f3;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.05rem;
	color: #333;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
header {
  position: relative;
  z-index: 1500;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: auto;
}
#footer {
  box-sizing: border-box;
  background-color: #444;
  color: #f3f3f3;
  font-size: 0.9rem;
  letter-spacing: 1px;
  padding: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
  display: flex;
  justify-content: center;
  align-content: center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
  position: relative;
  box-sizing: border-box;
  max-width: 1200px;
  list-style: none;
  background-color: #eee;
  margin: 0 auto;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1300;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding-right: 0.75rem;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    display: inline-block;
    color: #004079;
    padding: 0.75rem;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #002749;
    text-decoration: underline;
}
/* ====================== Map ====================== */

#map-container {
  position: relative;
}
.skip-map-link {
  position: absolute;
  top: -60px;
  left: 0;
  padding: 0.5rem;
  color: #fff;
  background-color: #f18200;
  z-index: 900;
}

.skip-map-link:focus {
  color: #fff;
  top: 0;
}
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  padding: 1em 0;
  background-color: #004079;;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-options h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin: 0.5rem 1.5rem;
  width: 100%;
  text-transform: uppercase;

}

.filter-options label {
  box-sizing: border-box;
  display: inline-block;
  width: 90%;
  color: #fff;
  font-size: 1.2rem;
  padding: 0;
}
.filter-options select {
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1.2rem;
  height: 45px;
  letter-spacing: 0;
  margin: 5px 5% 1rem;
  padding: 0 1rem;
  width: 90%;
}

@media screen and (min-width: 700px) {
  .filter-options select {
    margin: 10px 2%;
    width: 46%;
    max-width: 400px;
  }
  .filter-options label {
    margin: 10px 2% 0;
    width: 46%;
    max-width: 400px;
  }
  .filter-options h2 {
    order: 1;
  }
  #neighborhoods-label {
    order: 2;
  }
  #cuisines-label {
    order: 3;
  }
  #neighborhoods-select {
    order: 4;
  }
  #cuisines-select {
    order: 5;
  }
}

@media screen and (min-width: 800px) {
  .filter-options {
    justify-content: flex-start;
  }
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0 0 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#restaurants-list li {
  box-sizing: border-box;
  background-color: #fff;
  font-family: Arial,sans-serif;
  margin: 1rem 0 0 0;
  min-height: 380px;
  padding: 0 1.5rem 1.5rem;
  text-align: left;
  width: 100%;
}

#restaurants-list li.fake-for-flex {
  padding: 0;
  min-height: 0;
  background-color: transparent;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 189px;
  min-width: 100%;
}
#restaurants-list p {
  margin: 0;
  font-size: 1.05rem;
}

#restaurants-list li h3 {
  margin: 0;
}
#restaurants-list li a {
  color: #b15000;
  display: inline-block;
  font-size: 1.rem;
  font-weight: 700;
  margin: 0;
  padding: 0.8rem 0;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}

.restaurants h2 {
  text-transform: uppercase;
  color: #b15000;
  margin: 0;
  padding: 1.5rem 0 0 1rem;
}
@media screen and (min-width: 700px) {
  #restaurants-list {
    justify-content: space-between;
  }
  #restaurants-list li {
    width: 49%;
  }
}

@media screen and (min-width: 960px) {
  #restaurants-list li {
    width: 32%;
  }
}

/* ====================== Restaurant Details ====================== */

.inside header {
  background-color: #eee;
  width: 100%;
  z-index: 1000;
}
.inside #maincontent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 300px;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  position: absolute;
  width: 100%;
}

#restaurant-name {
  color: #b15000;
  font-family: Arial,sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 2rem 0 0.8rem;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 0 1.2rem;
}
#restaurant-img {
  display: block;
	width: 100%;
}
#restaurant-address {
  font-size: 1.1rem;
  margin: 10px 0px;
  padding: 0 1rem;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  width: 100%;
}
@media screen and (min-width: 700px) {
  #restaurant-container {
    width: 50%;
    order: 1;
  }
  .inside #map-container {
    width: 50%;
    order: 2;
    height: 650px;
  }
  #reviews-container {
    order: 3;
  }
}
@media screen and (min-width: 960px) {
  .inside header {
    position: fixed;
    width: 50%;
  }
  .inside #maincontent {
    flex-direction: column;
  }
  #restaurant-container {
    width: 50%;
    margin-top: 130px;
  }
  .inside #map-container {
    position: fixed;
    width: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    -index: 1500;
  }
  #reviews-container {
    width: 50%;
  }
  .inside #footer {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .inside header {
    width: 100%;
  }
  .inside #maincontent {
    flex-direction: row;
  }
  .inside #map-container {
    width: 600px;
    height: calc(100% - 190px);
    top: 130px;
    bottom: 60px;
    right: auto;
  }
  #restaurant-container,
  #reviews-container {
    margin-left: 600px;
  }
  .inside #footer {
    height: 60px;
    width: 100%;
    z-index: 1500;
  }
}
#restaurant-container h2,
#reviews-container h2 {
  color: #b15000;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding: 0 1.2rem;
  margin: 2rem 0 0.8rem;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  box-sizing: border-box;
  background-color: #fff;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.review-author,
.review-date,
.rating,
.comment {
  margin: 0 0 10px;
  width: 100%;
}

.review-author,
.review-date {
  box-sizing: border-box;
  width: 50%;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  text-shadow: 2px 2px #222;
}

.review-date {
  text-align: right;
}

.rating {
  margin: 0 0 10px 1rem;
  color: #b15000;
  font-weight: bold;
}

.comment {
  padding: 0 1rem;
}

#restaurant-hours {
  box-sizing: border-box;
  width: 100%;
  margin: 0 1rem;
}
#restaurant-hours th {
  text-align: left;
}

#restaurant-hours td {
  color: #666;
}

.leaflet-top,
.leaflet-left,
.leaflet-bottom {
  z-index: 900;
}

.respond-error {
  width: 100%;
  color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #333;
}
